@import "global";

html, body {
  color: @color;
  .size;
  -moz-user-select: none;
}

#app {
  .container;
}

.page-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hidden {
  display: none;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}